@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-controller="Home" asp-action="InsertProduct">

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input name="Name" type="text" class="form-control" id="Name" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input name="Price" type="text" class="form-control" id="Price" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="Type" class="form-label">Type</label>
        <input name="Type" type="text" class="form-control" id="Type" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="SquareMeters" class="form-label">Square Meters</label>
        <input name="SquareMeters" type="text" class="form-control" id="SquareMeters" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="Iuser" class="form-label">Iuser</label>
        <input name="Iuser" type="text" class="form-control" id="Iuser" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>